/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    .c-btn__link {
        width: 100%;
    }
}
