<header class="c-header">
  <div class="c-headerMb">
    <div class="c-headerMb__icon">
      <a href="#">
        <img src="./assets/img/iconmenu_mb.png" alt="chapter03">
      </a>
    </div>
  </div>
  <nav class="c-gnav">
    <ul class="c-nav__list">
      <li class="c-nav__item">
        <a href="./#nav-mainvisual" class="c-nav__link">トップ</a>
      </li>
      <li class="c-nav__item">
        <a href="./#nav-product" class="c-nav__link">毎日にハッカ油</a>
      </li>
      <li class="c-nav__item">
        <a href="./#nav-uses" class="c-nav__link">製品情報</a>
      </li>
      <li class="c-nav__item">
        <a href="./#nav-qa" class="c-nav__link">Q&A</a>
      </li>
      <li class="c-nav__item">
        <a href="./#nav-feature" class="c-nav__link">ハッカ油コラム</a>
      </li>
      <li class="c-nav__item">
        <a href="./#nav-footer" class="c-nav__link">ハッカ油ムービー</a>
      </li>
    </ul>
  </nav>
</header>
